.content-checkout {
  width: 871px;
  height: Hug (1, 818px);
  top: 56px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.shipping-address-card {
  width: 871px;
  height: Hug (230px);
  padding: 16px;
  border-radius: 13px;
  gap: 8px;
  background: #ffffff;
  justify-content: space-around;
  margin: 50px 0;
  flex: 1;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.Header-address-card {
  width: Hug (413px);
  height: Hug (54px);
  padding: 8px;
}

.Shipping {
  width: 397px;
  height: 38px;
  font-family: Cabin;
  font-size: 31px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.25em;
  text-align: left;
  color: #1a1f16;
}

.Shipping-address {
  width: Fill (839px);
  height: Hug (136px);
  justify-content: space-between;
}

.Current-address {
  width: Hug (227px);
  height: Hug (136px);
  padding: 8px;
  gap: 1px;
}

.Current-address p {
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
  line-height: 1px;
  letter-spacing: 0em;
  margin: 1px;
  text-align: left;
  color: #1a1f16;
}

.change-address-btn {
  float: right;
  border: 1px solid #333;
}

.change-address-btn:hover {
  background-color: #333;
  color: white;
  border: white;
}

.Payment-Method {
  width: Fixed (871px);
  height: Hug (214px);
  padding: 16px;
  border-radius: 13px;
  gap: 8px;
  background: #ffffff;
  flex: 1;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.Payment-header {
  width: Hug (385px);
  height: Hug (54px);
  padding: 8px;
}

.Payment-header h1 {
  width: 369px;
  height: 38px;
  font-family: Cabin;
  font-size: 31px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.25em;
  text-align: left;
}

.Payment-content {
  width: Fill (839px);
  height: Hug (120px);
  justify-content: space-between;
}

.change-payment-btn {
  float: right;
  border: 1px solid #333;
}

.change-payment-btn:hover {
  background-color: #333;
  color: white;
  border: white;
}

.Current-payment {
  width: Hug (384px);
  height: Hug (120px);
  padding: 8px;
  gap: 16px;
}

.Current-payment p {
  width: Hug (250px);
  height: Hug (24px);
  gap: 8px;
  font-family: Cabin;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1px;
}

.content-reviewed-bag {
  width: Fixed (871px);
  height: Hug (1, 326px);
  padding: 16px;
  border-radius: 13px;
  gap: 8px;
  background: #ffffff;
  flex: 1;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.review-bag-header {
  width: 391px;
  height: Hug (70px);
  padding: 8px 8px 24px 8px;
  gap: 16px;
}

.review-bag-header h1 {
  width: 375px;
  height: 38px;
  font-family: Cabin;
  font-size: 31px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.25em;
  text-align: left;
  color: #1a1f16;
}

.bag-content {
  width: Fill (839px);
  height: Hug (1, 216px);
  padding: 8px;
  gap: 8px;
}

.item-view-bag-content {
  width: Fill (823px);
  height: Hug (288px);
  padding: 16px 24px 16px 24px;
  gap: 16px;
}

.right-column {
  width: 30%;
  /* Adjust the width as needed */
}

.total-summary-card {
  width: 243px;
  height: 345px;
  top: 59px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-summary {
  flex: 1;
  width: Fill (211px);
  height: Hug (19px);
  justify-content: space-between;
}

.item-price-summary {
  text-align: right;
}

.shipping-summary {
  flex: 1;
  width: Fill (211px);
  height: Hug (19px);
  justify-content: space-between;
}

.shipping-price-summary {
  text-align: right;
}

.est-gst {
  flex: 1;
  width: Fill (211px);
  height: Hug (19px);
  justify-content: space-between;
}

.est-gst-price-summary {
  text-align: right;
}

.gift-card-summary {
  flex: 1;
  width: Fill (211px);
  height: Hug (19px);
  justify-content: space-between;
}

.hr {
  width: 211px;
  border: 1px;
  color: #bfd1e5;
  align-items: center;
}

.gift-card-price-summary {
  text-align: right;
}

.order-total {
  width: Fill (211px);
  height: Hug (24px);
  justify-content: space-between;
  color: red;
}

.order-total-price-summary {
  width: Fill (211px);
  height: Hug (24px);
  justify-content: space-between;
  color: red;
}

.order-placement-btn {
  color: white;
  background-color: #111111;
  border: white;
}

.order-placement-btn:hover {
  color: white;
  background-color: #333;
  border: white;
}

.backtocart {
  float: right;
  margin: 20px 0;
  border: white;
}

.backtocart:hover {
  color: white;
  background-color: #333;
  border: white;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }

  .right-column {
    max-width: none;
    margin-left: 0;
  }
}
